<mat-sidenav-container class="example-container fixed-top">
  <mat-sidenav
    style="background-color: #3f51b5"
    mode="side"
    [(opened)]="opened"
  >
    <button (click)="openHome()" mat-button class="menu-button">
      <mat-icon>home</mat-icon>
      <span>Home</span>
    </button>
    <button (click)="openTask()" mat-button class="menu-button">
      <mat-icon>task</mat-icon>
      <span>Tarefas</span>
    </button>
  </mat-sidenav>
  <mat-sidenav-content>
    <p>
      <mat-toolbar color="primary">
        <button mat-button (click)="opened = !opened">
          <mat-icon>menu</mat-icon>
        </button>
        <span>Fatto - Tarefas</span>
        <span class="menu"></span>
      </mat-toolbar>
    </p>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
